@media screen and (max-width: 670px) {

    header,
    main {
        padding: 0 15px;
    }

    header::after {
        display: none;
    }

    .phone-features br,
    .accesories-content br,
    .camera-features br {
        content: ""
    }

    .header-title {
        display: none;
    }

    .phone-features {
        grid-template-columns: 1fr;
        font-size: 12px;
    }

    .display_feature {
        max-width: 100%;
    }

    .backside_feature,
    .color_feature,
    .glass_feature {
        padding: 5px;
        max-width: 100%;
        max-height: 100%;
    }

    .phone-features .wrapper {
        order: 2;
    }

    .backside_feature {
        width: 100%;
        order: 3;
    }

    .camera-content {
        flex-direction: column;
    }

    .camera-features div {
        display: flex;
        flex-direction: column;
    }


    .camera-features .feature-icon {
        margin: 0 auto;
        margin-top: 35px;
    }

    .accesories-content {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }

    .accesories-block {
        max-width: 100%;
        font-size: 16px;
    }

    .accesories-image {
        width: 80%;
    }

    .services-content {
        grid-template-columns: 1fr;
    }

    .services-block {
        flex-direction: row-reverse;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .services-block:nth-child(odd) {
        flex-direction: row;
    }

    .services-block {
        width: 100%;
    }

    .accesories-text {
        white-space: normal;
    }
}

@media screen and (min-width: 671px) and (max-width: 900px) {

    header,
    main {
        padding: 0 15px;
    }


    .phone-features br,
    .accesories-content br {
        content: ""
    }


    .phone-features {
        grid-template-columns: 2fr 2fr;
    }

    .phone-features .wrapper {
        grid-column: 1/3;
    }

    .phone-features div {
        width: 100%;
        font-size: 14px;
    }

    .camera-features div {
        width: 100%;
        font-size: 14px;
    }

    .accesories-content {
        grid-template-columns: 2fr 2fr;
        grid-gap: 80px;
    }

    .accesories-block {
        max-width: 100%;
        font-size: 16px;
    }

    .accesories-wrapper {
        grid-column: 1/3;
        grid-column-gap: 4.5em;
    }

    .accesories-image {
        margin: 0 auto;
    }

    .accesories-text {
        white-space: normal;
    }

    .services .services-text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
    }
}